*,
*::before,
*::after {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif
}

.form-container{
    width: 800px;
    padding: 20px;
}

.form-container label,
.form-container h2{
    margin-bottom: 20px;
}
.form-container label span{
    display: block;
}

#user-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#user-info label, 
#user-info input {
    flex-basis: 50%; /* Adjust basis to control item size */
    flex-grow: 0; /* Allow items to grow to fill space */
}