*,
*::before,
*::after {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FF6139;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 1000px;
    height: 550px;
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    gap: 20px;
    border-radius: 20px;
    background-color: #112642;
    color: white;
    overflow: hidden;
    box-shadow: 0px 10px 10px #FFFFFF;
}

.company-name{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 25%;
    width: 100%;
    background-color: #f5eeeebe;
    padding: 10px;
}

#left-side{
    position: relative;
    height: auto;
    width: 80%;
}

#left-side img{
    max-width: 100%;
    height: 100%;
}

#right-side{
    padding: 20px 20px 20px 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.header h3{
    color:#F03F21;
}

.sign-up{
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #b9b8b8;
}

#user-info label{
    margin-bottom: 20px;
}

label span{
    margin-bottom: 5px;
}

#user-info label span{
    display: block;
}

#user-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#user-info label, 
#user-info input {
    flex-basis: 50%;
    flex-grow: 0; 
}

#user-info input{
    border-radius: 5px;
    height: 27px;
    width: 280px;
    border: transparent;
    padding-left: 10px;
    font-size: 1.1rem;
}

.create-acc-bttn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#create-acc{
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 1.1rem;
    color: white;
    background-color: #4BBAC5;
    border: 2px solid transparent;
}

#create-acc:hover{
    background-color: #309faa;
    cursor: pointer;
    border: 2px solid white;
}

.account-exists{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.account-exists p {
    font-size: 0.9rem;
}

.account-exists p a{
    text-decoration: none;
    color: #EC4E20;
}